:root{
    --primary: #0B1F3A;
    --secondary: #F3E8D8;
    --accent: #D4A657;
    --dark: #3A0F0F;
    --light: #FFFDF9;
}
body{
    margin: 0;
    background-color: var(--light);
}
.Header{
    background-color: var(--primary);
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    gap: clamp(10px, 2vw, 40px);
}

.Header img{
    width: auto;
    height: 50px;
}

.navbar{
    display: flex;
    gap: clamp(15px, 2vw, 45px);
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}
.navbar a{
    display: flex;
    align-items: center;
    color: var(--secondary);
    text-decoration: none;
}
.navbar a:hover{
    color: var(--accent);
}
a svg{
  width: 20px;
  height: 20px;
  color:#F3E8D8;
}
a:hover svg{
    color: #D4A657;
}
.header-icons{
    display:flex;
    align-items:center;
    gap:20px;
}

.header-icons a{
    display:flex;
    align-items:center;
}

.search-bar{
    position: relative;
    display: inline-block;
    margin-left: auto;
}
.search-bar input{
    width: clamp(180px, 30vw, 350px);
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 35px 8px 10px;
}
.search-bar input:focus{
    outline: none;
    border-color: #D4A657;
    border-width: 3px;
}
.search-bar svg{
    position: absolute;
    width: 18px;
    height: 18px;
    color:var(--dark);
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-bar svg:hover{
    color: #D4A657;
    cursor: pointer;
}
.search-bar input,
.search-bar svg{
    transition: 0.3s;
}
.account{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
}
.account svg{
    width: 18px;
    height: 18px;
    color: var(--secondary);
}
.account:hover svg{
    color: var(--accent);
}
.account a{
    color: var(--secondary);
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}
.account:hover a{
    color: var(--accent);
}

.navbar a,
.account a{
    white-space: nowrap;
}
.menu-btn{
    display:none;
    background:none;
    border:none;
}

.sidebar{
    position:fixed;
    top:0;
    left:-250px;
    width:250px;
    height:100%;
    background:var(--primary);
    transition:0.3s;
    z-index:1000;
}

.sidebar.active{
    left:0;
}
.sidebar a{
    display:block;
    color:#F3E8D8;
    text-decoration:none;
    padding:15px 20px;
}
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.3);
    display:none;
    z-index:999;
}

.overlay.active{
    display:block;
}
.sidebar-header{
    padding:20px;
    color:var(--accent);
    border-bottom:1px solid rgba(255,255,255,0.2);
}
.category-list{
    display:none;
}
.category-list.active{
    display:block;
}
.category-btn{
    background:none;
    border:none;
    color:var(--secondary);
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    font-weight:normal;
    padding:15px 20px;
    cursor:pointer;
}
.category-btn{
    display:flex;
    align-items:center;
    gap:6px;
}

@media (max-width:1024px){

    .navbar{
        gap:15px;
        font-size:14px;
    }

    .search-bar input{
        width:220px;
    }
}
@media (max-width:768px){
    .Header img{
       height: 40px;
       order:1;
    }
    .Header{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    }

    .navbar{
        display:none;
    }
.search-bar{
    position:relative;
    display:block;
    width:100%;
    margin:8px auto 0 auto;
    padding:0;
    margin-top:5px;
    margin-left:0;
    order: 10;
}
   .search-bar input{
    width:100%;
    box-sizing:border-box;
    }
    .search-bar input{
    height: 18px;
    font-size:14px;
    padding:6px 30px 6px 10px;
    }
    .menu-btn{
        display:block;
        color:var(--secondary);
        font-size:26px;
        background:none;
        border:none;
        order:-1;
        flex-shrink:0;
        margin-right:10px;
        padding: 8px;
    }
    .account{
        margin-left:0;
        order:2;
    }
    .account a{
        display:none;
    }
    .header-icons{
        gap:15px;
        order:2;
       margin-left:auto;
    }

    .header-icons svg,
    .account svg{
        width:18px;
        height:18px;
    }
}
